* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://images.unsplash.com/photo-1493711662062-fa541adb3fc8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f2e8843e67935b873f32154438cf9664&auto=format&fit=crop&w=750&q=80) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    // border: 1px dotted red;
}

.list {
    width: 90%; // border: 1px dashed brown;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 0;
}

.item {
    width: 330px;
    height: 200px; // border: 1px dotted green;
    margin: 15px 10px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transition: filter .4s, box-shadow .8s;
}

.item:hover {
    cursor: pointer;
    box-shadow: 2px 2px 5px 2px rgba(232, 245, 53, 0.3);
    filter: brightness(1.35);
}

.content {
    display: flex;
    align-items: center;
    position: relative;
    max-height: 30%; // border: 3px dashed pink;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transition-duration: 1s;
}

.content:hover {
    background-color: rgba(0, 153, 255, 0.3);
}

.avatar {
    overflow: hidden; // border: 2px solid blue;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
    transition: width .3s, height .3s;
}

.avatar:hover {
    width: 75px;
    height: 75px;
}

.avatar img {
    width: 100%;
}

.desc {
    // border: 2px solid yellow;
    color: white;
    max-width: 300px;
}

.img {
    // border: 1px dashed red;
    height: 70%;
    background-image: url(data:image/jpeg;base64,/9j/2wCEAAUDBAQEAwUEBAQFBQUGBwwIBwcHBw8LCwkMEQ8SEhEP…KKBRQAUUGg9qAAUUCigAooNB7UAAooFFABRQaD2oABRQKKACig0HtQACigUUAFFBoPagD/2Q==);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.list p {
    max-width: 220px;
    white-space: nowrap;
    /* no newline */
    overflow: hidden;
    /* crop text */
    text-overflow: ellipsis;
    /* ... */
}