<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Twitch Live Streams
        <!-- build:css -->
        link(href="./css/main.css", rel="stylesheet")
        <!-- endbuild -->
    body
        button(class="btnLoadNext20",onclick="loadTwitchData()") Load Next 20
        div.container
            div.title
            div.lang
                div(onclick="changeLanguage('en')")
                div(onclick="changeLanguage('zh-tw')")
            div.list
        <!-- build:js -->
        script(src="./js/lang-en.js")
        script(src="./js/lang-zh-tw.js")
        script(src="./js/ajax.js")
        <!-- endbuild -->